---
layout: default
---


  <div class="start-wrapper">
      <h1 class="page-heading">Sebastian Källstedt</h1>
    <div class="img-wrapper">
      <img src="/Seb.png">
    </div>
    <div class="text">
      <br>
      <p>Welcome to my hangout!</p>
      <p>This is my place on the world wide web where I blog and hopefully in the future upload projects that I have done.
        Head over to my blog or to my about page to find out more!
        Come in and make yourself at home!
      </p>
      <p>If you want to have a look at some old projects of mine you can head over to my portfolio site here: 
        <a href="wwww.kallstedt.com">Kallstedt.com</a></p>
    </div>
  
  <!-- {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
</div>
